#root {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.HomeHeader {
  background-color: #5c7fe0;
}

.HomeLayout {
  height: 100%;
}

.HomeFooter {
  text-align: center;
}
